.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 10rem;
  background-color: #F8FAFC;
}

.menu {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.menu:hover {
  opacity: 0.5;
}