.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 10rem;
  background-color: #F8FAFC;
}

.img {
  max-width: 25%;
  height: auto;
  display: block;
}